.Container {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

section div {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 156px;
	height: auto;
}

aside {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

aside div {
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	margin-bottom: 30px;
}

.button-70 {
	background-image: linear-gradient(#b7d5ac, #6eaa5e);
	border: 0;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
	box-sizing: border-box;
	color: #3f4b3a;
	cursor: pointer;
	font-family: Montserrat, sans-serif;
	font-size: .9em;
	margin: 5px;
	padding: 10px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}